*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
header{
    background-color: lightgray;
    height: 50px;
}
nav{
    /* border: 1px dotted black; */
    /* width: max-content; */
    height: inherit;
    display: flex;
    /* justify-content: start; */
    align-items: center;
    }
nav > a{
    text-decoration: none;
    color: black;
    padding: 0 30px;
    font-size: 20px;
}
.about_us{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
}
.about_us.img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.about_us-description {
    display: flex;
    flex-direction: column;
}
.about_us-description * {
    padding: 5px;
}
.my_game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;

}
.my_game > * {
    text-align: center;
}
.my_game input, .my_game button {
    border: none;
    margin: 5px;
    min-height: 30px;
    }
.my_game button {
    width: max-content;
    background-color: lightpink;
    padding: 0 10px;
    border-radius: 5px;
}
.my_game input {
    background-color: lightgray;
    outline: none;
}


img{
    width: 300px;
    margin: 50px 100px 10px 150px;
}
span{
    font-size: 15px;
}
.name{
    color: red;
}
#skill{
    color: green;
}
h1{
    padding: 0px;
    margin: 30px;
    text-align: center;
    line-height: 40px;
}
h2{
    text-align: center;
}
.choosed_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choosed_block-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 650px;


}
.choosed_block-container > div {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
}
.choosed_element {
    border: 3px solid black;
}
.posts_block {
    max-width: 600px;
    margin: 20 px auto;
}
.posts_block > h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.posts_block-container > * {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: pink;
    justify-content: center;
}

